/* Color Palette */
:root {
  --color-primary: #d0749f;
  --color-secondary: #341121;
  --color-accent: #74d0a6;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-secondary);
}

h1,
h2 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

p {
  margin-top: 0;
}

/* Links */
a {
  text-decoration: none;
}

.link {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Lists */
.list {
  padding-left: 0;
  color: var(--color-secondary);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */
.fab {
  margin-left: 2rem;
  color: var(--color-accent);
}

/* Button */
.btn {
  background: var(--color-accent);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}
