/* Color Palette */
:root {
  --color-primary: #d0749f;
  --color-secondary: #341121;
  --color-accent: #74d0a6;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-secondary);
}

h1,
h2 {
  margin-bottom: 2rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

p {
  margin-top: 0;
  padding: 1rem;
}

/* Links */
a {
  text-decoration: none;
}

.link {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Lists */
.list {
  padding-left: 0;
  color: var(--color-secondary);
  list-style: none;
}

/* Icons */
.fab {
  margin-left: 2rem;
  color: var(--color-accent);
}

/* Button */
.btn {
  background: var(--color-accent);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.image {
  width: 25vw;
}

/* Navigation Bars */
.nav {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav-list__item {
  margin: 0 1rem;
}

@media only screen and (min-width: 860px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}
