<article class="card">
  <header><h2>My Professional Background</h2></header>
  <img
    class="image"
    src="https://assets.codepen.io/6293454/j_gu.jpeg"
    alt="A photo of Jieun Gu"
  />
  <p>
    I earned my BA in French and French Literature at Ajou University in Suwon,
    Korea. After graduating, I furthered my studies abroad and earned my
    Master's at Naropa University in Boulder, CO. I am also an unlicensed
    psychotherapist and am certified in EMDR-II.
  </p>
</article>
<article class="card">
  <header><h2>My Areas of Practice</h2></header>
  <ul class="list">
    <li class="list__item">Alcohol Abuse</li>
    <li class="list__item">Anger Management</li>
    <li class="list__item">Antisocial Personality</li>
    <li class="list__item">Bipolar Disorder</li>
    <li class="list__item">Developmental Trauma</li>
  </ul>
  <h2>Ages of Focus</h2>
  <ul class="list">
    <li class="list__item">Teens</li>
    <li class="list__item">Adults</li>
    <li class="list__item">Seniors</li>
  </ul>
</article>
